$primary-color: #667eea;
$secondary-color: #764ba2;
$success-color: #519945;
$error-color: #dc3545;
$text-primary: #333;
$text-secondary: #555;
$border-color: #e1e5e9;
$white: #fff;
$gray-light: #c3c3c3;
$gray-dark: #a5a5a5;
$text-color: #353535;
$text-color-grey: #5f5f5f;
$focus-color: #4cafef;
